.jumbotron {
	height: 200px;
	background-image: url('http://www.ancient.eu/uploads/images/93.jpg');
	background-size: cover;
}

.jumbotron h1 {
	color: #e1b1a1;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
	display: inline;
}

.description {
	
}

.character-bio {
	
}

.analysis {
	
}

.about {
	
}